* {
  all: unset;
  font-family: DroidSans Nerd Font;
  font-size: 12px;
  letter-spacing: 1px;
}

.bar {
  /* background-color: @theme_bg_color; */
  color: @theme_fg_color;
  padding-right: 4px;
  transition: 0.5s;
  min-height: 22px;
}

.clock {
  font-weight: 600;
}

.sidestuff {
  all: unset;
  margin-right: 10px;
  color: @theme_fg_color;
}

.sidestuff button:hover {
  color: @theme_text_color;
}

.workspaces button {
  all: unset;
  box-shadow: inset 0 -3px transparent; /* Use box-shadow instead of border so the text isn't offset */
  padding: 0px 8px;
  margin: 2px 2px;
  border-radius: 4px;
  opacity: 1;
  /* border: 1 solid mix(@theme_bg_color, @theme_selected_bg_color, 0.2); */
  /* color: @theme_selected_fg_color; */
  background-color: alpha(@theme_fg_color, 0.1);
}
.workspaces button.current {
  opacity: 1;
  color: @theme_selected_fg_color;
  background-color: @theme_selected_bg_color;
}
.workspaces button:hover {
  opacity: 1;
  color: @theme_selected_fg_color;
  background-color: mix(@theme_selected_bg_color, @theme_bg_color, 0.2);
}

.system-menu {
    border: 1px solid mix(@theme_fg_color, @theme_bg_color, 0.9);
    border-radius: 10px;
    color: @theme_fg_color;
    background-color: @theme_bg_color;
    /* transition: 200ms ease-in-out; */
}

.first-row-system {
    margin-left: 5px;
    /* padding: 10px; */
}

.second-row-system {
    margin-left: 5px;
    /* padding: 8px 20px 20px 8px; */
    /* padding: 10px; */
}

.toggle-label {
    font-size: 12px;
    padding: 5px;
}

.toggle-buttons-box {
    margin: 10px 15px 0px 15px;
    border-radius: 20px;
}

.toggle-button {
    font-size: 24px;
    padding: 7px 13px 7px 13px;
}

.toggle-arrow-btn {
    padding: 7px 13px 7px 12px;
}

.toggle-button-on {
    color: @theme_selected_fg_color;
    background-color: mix(@theme_selected_bg_color, @theme_bg_color, 0.2);
    border-radius: 20px 0px 0px 20px;
}

.toggle-button-off {
    background-color: mix(@theme_bg_color, @theme_fg_color, 0.1);
    border-radius: 20px 0px 0px 20px;
}


.toggle-arrow-btn-on {
    color: @theme_selected_fg_color;
    background-color: mix(@theme_selected_bg_color, @theme_bg_color, 0.2);
    border-radius: 0px 20px 20px 0px;
}

.toggle-arrow-btn-off {
    background-color: mix(@theme_bg_color, @theme_fg_color, 0.1);
    border-radius: 0px 20px 20px 0px;
}

.toggle-button-off:hover,
.toggle-arrow-btn-off:hover {
    background-color: mix(@theme_bg_color, @theme_fg_color, 0.2);
}

.toggle-arrow-btn-on:hover,
.toggle-button-on:hover {
    background-color: @theme_selected_bg_color;
}

.sliders {
    background-color: mix(@theme_bg_color, @theme_fg_color, 0.1);
    /* background-color: @theme_bg_color; */
    margin: 10px;
    padding: 20px 15px;
    border-radius: 15px;
}

.volume-slider {
    margin-left: 25px;
}

slider {
    background: transparent;
}

.volume-slider trough {
    background-color: mix(@theme_bg_color, @theme_fg_color, 0.5);
    border-radius: 15px;
}

.volume-slider highlight {
    padding: 0.2em;
    background-color: @theme_selected_bg_color;
    border-radius: 15px;
}

.brightness-slider {
    margin-left: 25px;
}

.brightness-slider trough {
    background-color: mix(@theme_bg_color, @theme_fg_color, 0.5);
    border-radius: 15px;
}

.brightness-slider highlight {
    padding: 0.2em;
    background-color: @theme_selected_bg_color;
    border-radius: 15px;
}

.slider-button {
    font-size: 16px;
    margin: 0px 5px;
    padding: 0px 5px;
    background-color: @theme_bg_color;
    border-radius: 100%;
}

.slider-button:hover {
    /* background-color: @theme_selected_bg_color; */
    color: @theme_text_color;
}

.profile-image {
    /* margin: 25px 0px 20px 60px; */
    /* min-width: 42px; */
    /* min-height: 52px; */
    /* background-size: 52px; */
    /* border-radius: 100%; */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
}

.time {
    font-size: 48px;
    margin: 5px 10px;
    padding: 0px;
}

.day, .date {
}
.date-box {
    font-size: 20px;
    margin: 30px 0px;
}

.battery-box {
    margin: 0px 20px 20px 15px;
}

.battery-icon {
    font-size: 12px;
}

.battery-text {
    font-size: 12px;
    margin: 0px;
}

.temp-text {
    font-size: 12px;
    margin: 0px 4px;
}

.side-options-box {
    margin: 0px 25px 20px 10px;
}

.power-button,
.exit-button,
.settings-button {
    font-size: 12px;
    background-color: @theme_bg_color;
    margin: 0px;
    padding: 5px;
    border-radius: 100%;
}

.power-button:hover,
.exit-button:hover,
.settings-button:hover {
    background-color: @theme_bg_color;
    color: @theme_text_color;
}

.music-player-container {
    background-color: mix(@theme_bg_color, @theme_fg_color, 0.1);
    margin: 3px 10px;
    padding: 5px 10px;
    border-radius: 15px;
}

.music-player-container label {
}

.music-player-album {
    background-size: contain;
    background-color: @theme_bg_color;
    min-width: 80px;
    min-height: 80px;
    margin: 5px 0px;
    background-repeat: no-repeat;
    border-radius: 10px;
    background-position: center;
}

.music-title {
    font-size: 14px;
    font-weight: bold;
    margin: -5px 0px -10px 0px;
    padding: 0px;
}

.music-aa {
    font-size: 10px;
    margin: -5px 0px 0px 0px;
    padding: 0px;
}

.pos-slider {
    margin: 0px 3px;
}

.pos-slider trough {
    background-color: mix(@theme_bg_color, @theme_fg_color, 0.5);
    border-radius: 15px;
}

.pos-slider highlight {
    padding: 0.2em;
    background-color: @theme_selected_bg_color;
    border-radius: 15px;
}


.calendar-row {
    border: 1px solid mix(@theme_bg_color, @theme_fg_color, 0.1);
    border-radius: 10px;
    /* box-shadow: inset 0 0 8 1px #11111b; */
    color: @theme_fg_color;
    background-color: @theme_bg_color;
}

.cal-box {
    padding: 0.5em;
    margin: 1em 0.75em 0.25em;
}

.month-year {
    font-size: 28px;
    /* text-shadow: 1px 5px 10px rgba($color: #000000, $alpha: 0.5); */
    font-family: Creepster;
    color: @theme_fg_color;
    font-weight: bold;
    margin: 10px 0px 0px 0px;
}

.day-names {
    margin: 1em 1em 0em;
    font-size: 20px;
    font-weight: bold;
    color: @theme_fg_color;
}

.cal {
    padding: 1em .75em 0em;
}

calendar {
    /* font-weight: bold; */
}

calendar :selected {
    color: @theme_selected_fg_color;
    background: @theme_selected_bg_color;
    border-radius: 100%;
}

calendar :indeterminate {
    color: mix(@theme_fg_color, @theme_bg_color, 0.7);
}

calendar.button {
    color: @theme_fg_color;
}

calendar.highlight {
	color: @theme_fg_color;
	font-weight: bold;
	padding: 10px;
	margin: 10px;
}

